/* Images en plein écran dans les pages de projet */
.full-screen-images {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

.full-screen-img {
    width: 100%;
    max-width: 100%; /* Assurer que l'image prend tout l'espace disponible */
    height: auto;
    object-fit: cover;
    margin-bottom: 20px; /* Espacement entre les images */
}
